@import "src/scss/Vars";

.header-wrapper {
  position: relative;
  font-size: 1.4em;
  .buy {
    position: absolute;
    top: 1.4rem;
    right: 2.5rem;
    z-index: 100;
    height: 50px;
    line-height: 50px;
    font-size: 1.3em;
    font-style: italic;
    font-weight: 100; 
    width: 26rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1350px) {
  .header-wrapper {
    .buy {
      font-size: 1em;
      width: 21rem;
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
  .header-wrapper {
    .buy {
      left: 50%;
      width: 20rem;
      padding: 0 .5rem;
      transform: translate(-50%, 0);
      font-size: 1em;
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 700px) {
  .header-wrapper {
    .buy {
      left: 50%;
      width: 9rem;
      height: 4rem;
      padding: 0 .5rem;
      transform: translate(-50%, 0);
      font-size: 1em;
      border-radius: 20px;
      line-height: 30px;
    }
  }
}




