@import "src/scss/Vars";

.defi-wrapper {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100%;
  background: #121622 url("/images/hoge_defi.png") no-repeat top -100px right 20%;
  background-size: cover;

  @include mobile {
    height: 1300px;
    left: 0;
    object-fit: cover;
    // position: absolute;
    top: 0;
    background-size: auto 607px;
    background-position-y: initial;
  }

  .buy {
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    z-index: 100;
    height: 45px;
    line-height: 45px;
  }

  .defi {
    padding-top: 5rem;
    flex-direction: column;

    @include mobile {
      padding-left: unset;
    }

    .defi-content {
      max-width: 550px;
      margin-bottom: 6rem;

      @include mobile {
        display: flex;
        flex-direction: column;
        min-height: 541px;
        position: relative;
        top: 522px;
        width: 354px;
        gap: 14px;
      }
    }

    .title,
    .subtitle {
      font-style: normal;
      font-weight: 900;
      font-size: 80px;
      line-height: 90px;
      text-align: left;
      text-shadow:
        -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white,
        -1px -1px white, 1px 1px white, -1px 1px white, 1px -1px white;

      @include mobile {
        font-size: 50px;
        line-height: 150%;
        line-height: 59px;
        font-weight: 800;
        text-align: center;
        margin-top: -5px;
      }
    }
    .subtitle {
      color: #7E4EFF;
      text-shadow:
        -1px 0 #7E4EFF, 0 1px #7E4EFF, 1px 0 #7E4EFF, 0 -1px #7E4EFF,
        -1px -1px #7E4EFF, 1px 1px #7E4EFF, -1px 1px #7E4EFF, 1px -1px #7E4EFF;
    }
    .text {
      margin-bottom: 1.5rem;
      line-height: 1.4;

      @include mobile {
        font-size: 16px;
        text-align: center;
        width: 350px;
      }
    }

    .buttons {
      width: 100%;
      display: flex;
      justify-content: space-around;
      text-transform: uppercase;
      font-size: 1.1rem;

      @include mobile {
        flex-direction: column;
        gap: 20px;
        width: 270px;
        align-items: center;
        align-self: center;
      }
    }
  }
}

.certik-wrapper {
  margin-top: auto;
  background: #151515;

  .certik {
    height: 150px;
    align-items: center;
    flex-direction: row;
    font-size: 1.2rem;

    .text {
      color: white;
      margin: 0 2rem 0 0;
    }

    .certik-logo {
      width: 200px;
      height: 48px;
      background: url("/images/certik.png") no-repeat;
    }

    a {
      margin-left: auto;
    }
  }
}