@import "src/scss/Vars";

.roadmap-wrapper {
  background: url("/images/hoge_footer.png") center;
  background-size: cover;
  height: 1080px;
  display: flex;
  flex-direction: column;

  a.roadmap {
    margin: auto;
  }

  .social-wrapper {
    background: rgba(11, 13, 18, 0.9);
    backdrop-filter: blur(5px);
    align-self: flex-end;

    .social {
      font-size: 1.2rem;
      color: white;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      height: 240px;

      .text {
        margin-bottom: 3rem;
      }

      .links {
        display: flex;
        justify-content: space-around;
        a {
            color: white;
          }
        a:hover {
          color: $link;
        }
      }
    }
  }
}

@include tablet {
  .roadmap-wrapper {
    height: 600px;
  }
}

