@import "src/scss/Vars";

.footer-wrapper {
  background: #0C0E14;

  .footer {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 0.9rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .inquiries {
      margin: 2rem 0 0;
    }

    .links {
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      gap: 3rem;
      margin: 2rem 0;

      a {
        color: white;
        text-decoration: none;
        font-size: 1.1rem;
        &:hover {
          color: $link;
        }
      }
    }

    .note {
      display: flex;
      width: 100%;
      font-size: 0.5rem;
    }
  }
}

@include tablet {
  .footer-wrapper {
    .footer {
      height: auto;
      .inquiries {
        margin: 0;
      }
      .links {
        margin: 1rem 0;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}