@import "src/scss/Vars";

.hoge-project {
  display: flex;
  flex-direction: column;
  background: #121622;
  color: #fff;

    .project {
      justify-content: space-between;
      align-items: center;
      padding: 8rem 0;

      .left {
        max-width: 500px;
        .text {
          margin-bottom: 3rem;
        }
      }
      .right {
          background: url("/images/hoge_project.png");
          width: 757px;
          height: 510px;
      }
    }

    .infos {
      display: flex;
      height: 300px;
      box-sizing: border-box;
      background: #1A1F2D;
      border: 1px solid #31384F;
      border-radius: 30px;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

        .info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          max-width: 210px;
          font-weight: 300;

          .image {
              width: 80px;
              height: 80px;
          }
          .value {
              font-size: 50px;
              line-height: 63px;
              color: #A887FF;
          }
          .text{
              font-size: 1.2rem;
          }

          &.info-1 .image {
              background: url("/images/fire.png");
          }
          &.info-2 .image {
              background: url("/images/diamond.png");
          }
          &.info-3 .image {
              background: url("/images/coin.png");
          }
        }
    }

  .tokens-wrapper {
    background: url("/images/hoge_tokens.png") no-repeat center left 10%;

    .tokens {
      justify-content: space-between;
      align-items: center;
      padding: 8rem 0;

      .left {
        width: 600px;
        height: 600px;
      }

      .right {
        max-width: 600px;

        > .text {
          margin-bottom: 2rem;
        }
      }

      .funds {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1.5rem 2rem;
        flex-direction: row;
        border: 2px solid #31384F;
        border-radius: 30px;
        align-content: center;

        .optivault {
          width: 98px;
          height: 100px;
          background: url("/images/art-blobby.svg");
          margin-right: 1rem;
        }

        .text {
          font-weight: 600;
          font-size: 1.25rem;
          line-height: 2rem;
          flex: 1;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }

        .icon {
          margin-left: 0.5rem;
        }
      }
    }
  }

}