@import "src/scss/Vars";

.site-navigation {
  @include mobile {
    width: 100vw;
  }
  .container {
    display: flex !important;
    alignment: center;

    .btn-custom {
      align-self: flex-end;
      float: right;
    }
  }
}

.message {
  font-weight: 400;
  margin: 20px;
}
